<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Camera360Alipay</string>
				<string>wx9eb0c14967cc1036</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SinaWeiboSSO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3555837032</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QzoneSSO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent100303003</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ05FA809B</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WeiXin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx9eb0c14967cc1036</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb109356832549275</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>camera360</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Camera360</string>
				<string>camera360</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GrowingIO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>growing.dcc919667f85a5ba</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GrowingIO.inhouse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>growing.c6ac9adb65ad1ffc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>109356832549275</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cammix</string>
		<string>mqqopensdkapiv4</string>
		<string>selfie</string>
		<string>bestie</string>
		<string>twitter</string>
		<string>mqqapi</string>
		<string>wechat</string>
		<string>instagram</string>
		<string>mqq</string>
		<string>weixin</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>mqzone</string>
		<string>fb</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fblogin</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>camera360</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>appstore</string>
		<string>weibosdk</string>
		<string>itms-apps</string>
		<string>alipay</string>
		<string>alipayauth</string>
		<string>miaopai630</string>
		<string>miaopai</string>
		<string>zakeriphone</string>
		<string>pgpuzzle</string>
		<string>CamMIX</string>
		<string>cameramix</string>
		<string>sketch</string>
		<string>yummy</string>
		<string>storm</string>
		<string>hdr</string>
		<string>glow</string>
		<string>magicFish</string>
		<string>thunder</string>
		<string>bird</string>
		<string>poker</string>
		<string>selfportrait</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
